<header>
  <nav class="navbar">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{{ page.inicio }}"><a href="/sambacai">Inicio</a></li>
      <li class="{{ page.nosotros }}"><a href="/sambacai/nosotros">Nosotros</a></li>
      <li class="{{ page.menu }}"><a href="/sambacai/menu">Menu</a>
      <li class="{{ page.localidades }}"><a href="/sambacai/localidades">Localidades</a>
      <li class="{{ page.contactenos }}"><a href="/sambacai/contactenos">Contactenos</a>
    </ul>

  </nav>
</header>
