---
---

@import "palette-sambacai";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $light4;
}



header {
  height: 87px;
  width: 100%;

  color: $lightfont;
  background-color: $color6;

  .navbar {
    display: flex;
    margin-top: 0.2em;
    padding-top: 0.7em;
    .active {
      background-color: $blend45;
      color: $darkfont;
    }

    a {
      font-size: 1.3em;
    }

    .hover {
      background-color: $color2;
    }
  }
}
