---
---

@import "palette-sambacai";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $color6;
}

header {
  height: 87px;
  width: 100%;

  color: $lightfont;
  background-color: $color1;

  .navbar {
    display: flex;
    margin-top: 2em;
    .active {
      background-color: $blend45;
    }

    a {
      font-size: 1.3em;
      color: $darkfont;
    }
  }
}
