---
---

@import "palette-sambacai";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $light4;
}



header {
  height: 87px;
  width: 100%;

  color: $lightfont;
  background-color: $color6;



  .navbar {
    a {
      font-size: 1.3em;
      color: $lightfont;
    }

    display: flex;
    margin-top: 0.2em;
    padding-top: 0.7em;
    .active {
      a {
        font-size: 1.5em;
        color: $darkfont;
        background-color: $blend45;
      }
    }

    &:hover {
      a:hover {
        font-size: 1em;
        color: $darkfont;
        background-color: $color4;
      }
    }
  }
}

 #temp {
   margin-top: 4px;
   min-height: 300px;
   max-height: 300px;
 }
